In [111]:
import pandas as pd
import os
import numpy as np

csv_path = pd.read_csv("pothole_data.csv")
df = pd.DataFrame(csv_path)
df.head()

,CREATION DATE,STATUS,COMPLETION DATE,SERVICE REQUEST NUMBER,TYPE OF SERVICE REQUEST,CURRENT ACTIVITY,MOST RECENT ACTION,NUMBER OF POTHOLES FILLED ON BLOCK,STREET ADDRESS,ZIP,X COORDINATE,Y COORDINATE,Ward,Police District,Community Area,SSA,LATITUDE,LONGITUDE,LOCATION
0,8/5/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652.0,1151403.825,1853111.161,18.0,8.0,70.0,NaN,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
1,7/18/2018,Open,NaN,18-02134465,Pothole in Street,NaN,NaN,NaN,6030 N PETERSON AV EDENS XR,60646.0,1142563.164,1939575.474,39.0,16.0,12.0,NaN,NaN,NaN,NaN
2,4/26/2018,Completed,4/30/2018,18-01332777,Pothole in Street,Final Outcome,Pothole Patched,10.0,1500 N LUIS MUNOZ MARIN DR,60622.0,1154972.389,1909808.096,26.0,14.0,24.0,NaN,NaN,NaN,NaN
3,1/14/2014,Completed,4/2/2014,14-00061365,Pot Hole in Street,Final Outcome,Pothole Patched,13.0,3925 W ACCESS ST,60623.0,1150731.697,1882113.636,22.0,10.0,30.0,NaN,NaN,NaN,NaN
4,9/18/2018,Open,NaN,18-02695671,Pothole in Street,NaN,NaN,NaN,845 W 69TH ST,60621.0,1171762.039,1859096.550,6.0,7.0,68.0,NaN,41.768702,-87.646285,"(41.768701626769, -87.646285147026)"

In [112]:
df.dtypes

CREATION DATE                          object
STATUS                                 object
COMPLETION DATE                        object
SERVICE REQUEST NUMBER                 object
TYPE OF SERVICE REQUEST                object
CURRENT ACTIVITY                       object
MOST RECENT ACTION                     object
NUMBER OF POTHOLES FILLED ON BLOCK    float64
STREET ADDRESS                         object
ZIP                                   float64
X COORDINATE                          float64
Y COORDINATE                          float64
Ward                                  float64
Police District                       float64
Community Area                        float64
SSA                                   float64
LATITUDE                              float64
LONGITUDE                             float64
LOCATION                               object
dtype: object

In [113]:
list(df.columns)

['CREATION DATE',
 'STATUS',
 'COMPLETION DATE',
 'SERVICE REQUEST NUMBER',
 'TYPE OF SERVICE REQUEST',
 'CURRENT ACTIVITY',
 'MOST RECENT ACTION',
 'NUMBER OF POTHOLES FILLED ON BLOCK',
 'STREET ADDRESS',
 'ZIP',
 'X COORDINATE',
 'Y COORDINATE',
 'Ward',
 'Police District',
 'Community Area',
 'SSA',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION']

In [114]:
# Replace col name spaces w/ underscores

df.columns = df.columns.str.replace(' ','_')
list(df.columns)

['CREATION_DATE',
 'STATUS',
 'COMPLETION_DATE',
 'SERVICE_REQUEST_NUMBER',
 'TYPE_OF_SERVICE_REQUEST',
 'CURRENT_ACTIVITY',
 'MOST_RECENT_ACTION',
 'NUMBER_OF_POTHOLES_FILLED_ON_BLOCK',
 'STREET_ADDRESS',
 'ZIP',
 'X_COORDINATE',
 'Y_COORDINATE',
 'Ward',
 'Police_District',
 'Community_Area',
 'SSA',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION']

In [36]:
len(df)

395790

In [76]:
#Find columns with null values

df.isna().sum()

CREATION_DATE                            0
STATUS                                   0
COMPLETION_DATE                       3651
SERVICE_REQUEST_NUMBER                   0
TYPE_OF_SERVICE_REQUEST                  0
CURRENT_ACTIVITY                      4121
MOST_RECENT_ACTION                    4436
NUMBER_OF_POTHOLES_FILLED_ON_BLOCK    6049
STREET_ADDRESS                           0
ZIP                                      0
X_COORDINATE                             0
Y_COORDINATE                             0
Ward                                     0
Police_District                          0
Community_Area                           0
LATITUDE                               701
LONGITUDE                              701
LOCATION                               701
dtype: int64

In [49]:
#Values in status
df['STATUS'].unique()

array(['Open', 'Completed'], dtype=object)

In [117]:
#Grab the columns I Want...only remove SSA

df = df.loc[:,['CREATION_DATE',
 'STATUS',
 'COMPLETION_DATE',
 'SERVICE_REQUEST_NUMBER',
 'TYPE_OF_SERVICE_REQUEST',
 'CURRENT_ACTIVITY',
 'MOST_RECENT_ACTION',
 'NUMBER_OF_POTHOLES_FILLED_ON_BLOCK',
 'STREET_ADDRESS',
 'ZIP',
 'X_COORDINATE',
 'Y_COORDINATE',
 'Ward',
 'Police_District',
 'Community_Area',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION']]

In [118]:
#count of nulls in zip code
df['ZIP'].isna().sum()

1637

In [119]:
#Drop nulls from zip code

df = df[df['ZIP'].notna()]

df['ZIP'].isna().sum()

0

In [120]:
#Find number of null in x_coords and remove those rows
df['X_COORDINATE'].isna().sum()
df = df[df['X_COORDINATE'].notna()]

In [121]:
df_local = df[df['LOCATION'].notna()]

df_local.isna().sum()

CREATION_DATE                            0
STATUS                                   0
COMPLETION_DATE                       3643
SERVICE_REQUEST_NUMBER                   0
TYPE_OF_SERVICE_REQUEST                  0
CURRENT_ACTIVITY                      4109
MOST_RECENT_ACTION                    4423
NUMBER_OF_POTHOLES_FILLED_ON_BLOCK    6034
STREET_ADDRESS                           0
ZIP                                      0
X_COORDINATE                             0
Y_COORDINATE                             0
Ward                                     0
Police_District                          0
Community_Area                           0
LATITUDE                                 0
LONGITUDE                                0
LOCATION                                 0
dtype: int64

In [122]:
len(df_local)

393252

In [123]:
# Looking for null values in status as complete
# condition with df.values property
comp = df_local['STATUS'].values == 'Completed'
  
# new dataframe
new_df = df_local[comp]

new_df.head(10)

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
85,3/11/2013,Completed,3/11/2013,13-00270953,Pot Hole in Street,Final Outcome,Pothole Patched,20.0,4600 S ARCHER AVE,60632.0,1153875.122,1873917.857,14.0,8.0,58.0,41.809907,-87.711289,"(41.809907068923, -87.711289492482)"
86,3/1/2012,Completed,3/6/2012,12-00547199,Pot Hole in Street,Dispatch Crew,Pothole Patched,2.0,2232 S WABASH AVE,60616.0,1177096.605,1889556.074,2.0,1.0,33.0,41.851885,-87.625626,"(41.851885440024, -87.625625630133)"
87,5/19/2016,Completed,5/19/2016,16-03451851,Pothole in Street,Final Outcome,Pothole Patched,20.0,540 W LAKE ST,60661.0,1172686.643,1901698.600,42.0,12.0,28.0,41.885809,-87.641385,"(41.885809444266, -87.641385452365)"
88,1/12/2016,Completed,1/12/2016,16-00210548,Pothole in Street,Final Outcome,Pothole Patched,5.0,7601 S ASHLAND AVE,60620.0,1166993.866,1854314.099,17.0,6.0,71.0,41.755726,-87.663425,"(41.755726209295, -87.663424733183)"
89,1/24/2018,Completed,1/26/2018,18-00463907,Pothole in Street,Final Outcome,Pothole Patched,4.0,1400 N CLYBOURN AVE,60610.0,1172085.204,1909254.552,27.0,18.0,8.0,41.906397,-87.643441,"(41.90639707325, -87.643441486874)"
90,2/24/2014,Completed,3/6/2014,14-00261089,Pot Hole in Street,Final Outcome,Pothole Patched,3.0,7100 S BELL AVE,60636.0,1162628.986,1857542.222,18.0,8.0,66.0,41.764646,-87.679616,"(41.764645693576, -87.679616427703)"
91,1/3/2017,Completed,1/20/2017,17-00054072,Pothole in Street,Final Outcome,Pothole Patched,38.0,5834 W WRIGHTWOOD AVE,60639.0,1136928.490,1916683.962,30.0,25.0,19.0,41.927645,-87.772415,"(41.927645178868, -87.77241539015)"
93,11/21/2012,Completed,11/27/2012,12-01919595,Pot Hole in Street,Final Outcome,Pothole Patched,7.0,2733 W ARGYLE ST,60625.0,1157106.190,1933095.270,40.0,20.0,4.0,41.972075,-87.697712,"(41.972074645641, -87.697711762202)"
94,3/12/2013,Completed,3/18/2013,13-00275743,Pot Hole in Street,Final Outcome,Pothole Patched,28.0,3500 N LAKEWOOD AVE,60657.0,1167006.967,1923367.063,44.0,19.0,6.0,41.945326,-87.661695,"(41.945325927427, -87.661694799172)"
95,2/17/2016,Completed,2/17/2016,16-00963958,Pothole in Street,Final Outcome,Pothole Patched,25.0,4300 S DREXEL BLVD,60653.0,1182913.541,1876689.288,4.0,2.0,39.0,41.816745,-87.604680,"(41.816744765102, -87.60467999533)"

In [124]:
df_local['Ward'].unique()

array([18.,  6.,  0., 20., 16., 14., 37., 23.,  2., 42., 17., 27., 30.,
       40., 44.,  4., 32., 41.,  5., 34.,  9., 13.,  8., 10., 12., 38.,
       49., 31., 11., 25., 24., 36., 22., 45., 35., 43.,  7., 19., 26.,
        3., 29., 21., 39., 50., 33., 15., 28., 48., 46., 47.,  1.])

In [125]:
df_local['Police_District'].unique()

array([ 8.,  7.,  0.,  3.,  6.,  9., 15.,  1., 12., 18., 25., 20., 19.,
        2., 14., 16., 22.,  5.,  4., 10., 17., 24., 11., 23., 13., 21.,
       31.])

In [126]:
df_local['Community_Area'].unique()

array([70., 68.,  0., 42., 71., 63., 25., 66., 58., 33., 28.,  8., 19.,
        4.,  6., 39., 22., 10., 43., 65., 24., 69., 49., 53., 62., 32.,
       61., 45., 51., 30., 16.,  1., 44., 60., 31., 17., 15., 21.,  7.,
       75., 34., 76., 59., 46., 40., 77., 20., 52., 12., 67., 73., 72.,
       23., 56.,  2., 29., 14., 41., 57.,  9., 64., 50., 55., 11., 38.,
       27., 13., 48., 37.,  3., 54.,  5., 74., 36., 35., 18., 26., 47.])

In [130]:
# Change Zip to String


zip_str = df_local.ZIP.dropna().astype(int).astype(str).str.zfill(5)
zip_str = pd.DataFrame(df_local)
# zip_str.reset_index()
zip_str.head()

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
0,8/5/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652,1151403.825,1853111.161,18.0,8.0,70.0,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
4,9/18/2018,Open,NaN,18-02695671,Pothole in Street,NaN,NaN,NaN,845 W 69TH ST,60621,1171762.039,1859096.550,6.0,7.0,68.0,41.768702,-87.646285,"(41.768701626769, -87.646285147026)"
19,11/14/2018,Open,NaN,18-03152673,Pothole in Street,NaN,NaN,NaN,1832 N HARLEM AVE,00000,1127805.471,1911375.665,0.0,0.0,0.0,41.913529,-87.806069,"(41.913529272082, -87.806069130723)"
23,11/30/2018,Open,NaN,18-03261945,Pothole in Street,NaN,NaN,NaN,1317 E 61ST ST,60637,1185870.200,1864815.732,20.0,3.0,42.0,41.784080,-87.593991,"(41.784079808228, -87.593990786956)"
24,9/17/2018,Open,NaN,18-02686078,Pothole in Street,NaN,NaN,NaN,2000 W 82ND PL,60620,1164460.056,1849954.420,18.0,6.0,71.0,41.743994,-87.673103,"(41.743993810317, -87.673103052128)"

In [131]:
len(zip_str)

393252

In [132]:
# Change Ward to String
w_str = zip_str['Ward'] = zip_str.Ward.dropna().astype(int).astype(str).str.zfill(2)
w_str = pd.DataFrame(zip_str)
w_str.head(10)

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
0,8/5/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652,1151403.825,1853111.161,18,8.0,70.0,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
4,9/18/2018,Open,NaN,18-02695671,Pothole in Street,NaN,NaN,NaN,845 W 69TH ST,60621,1171762.039,1859096.550,06,7.0,68.0,41.768702,-87.646285,"(41.768701626769, -87.646285147026)"
19,11/14/2018,Open,NaN,18-03152673,Pothole in Street,NaN,NaN,NaN,1832 N HARLEM AVE,00000,1127805.471,1911375.665,00,0.0,0.0,41.913529,-87.806069,"(41.913529272082, -87.806069130723)"
23,11/30/2018,Open,NaN,18-03261945,Pothole in Street,NaN,NaN,NaN,1317 E 61ST ST,60637,1185870.200,1864815.732,20,3.0,42.0,41.784080,-87.593991,"(41.784079808228, -87.593990786956)"
24,9/17/2018,Open,NaN,18-02686078,Pothole in Street,NaN,NaN,NaN,2000 W 82ND PL,60620,1164460.056,1849954.420,18,6.0,71.0,41.743994,-87.673103,"(41.743993810317, -87.673103052128)"
30,12/4/2018,Open,NaN,18-03286790,Pothole in Street,NaN,NaN,NaN,600 W 62ND ST,60621,1173340.514,1863793.161,16,7.0,68.0,41.781759,-87.640175,"(41.781759463237, -87.640175208616)"
49,7/20/2018,Open,NaN,18-02160010,Pothole in Street,NaN,NaN,NaN,2407 W 50TH ST,60632,1161139.186,1871457.324,14,9.0,63.0,41.802861,-87.684614,"(41.802860843956, -87.684614376597)"
66,11/11/2018,Open,NaN,18-03134226,Pothole in Street,NaN,NaN,NaN,200 N PINE AVE,60644,1139465.965,1900928.456,37,15.0,25.0,41.884327,-87.763476,"(41.884327043038, -87.763476156447)"
68,10/23/2018,Open,NaN,18-02989536,Pothole in Street,NaN,NaN,NaN,3338 W 61ST PL,60629,1155193.279,1863648.313,23,8.0,66.0,41.781753,-87.707196,"(41.781753366837, -87.707195912967)"
82,11/30/2018,Open,NaN,18-03260280,Pothole in Street,NaN,NaN,NaN,600 E 68TH ST,60637,1181410.315,1860059.255,20,3.0,42.0,41.771351,-87.610509,"(41.771351424207, -87.61050876392)"

In [134]:
# Change Police District to String
dist_str = w_str.Police_District.dropna().astype(int).astype(str).str.zfill(2)
dist_str = pd.DataFrame(w_str)
dist_str.head(10)

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
0,8/5/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652,1151403.825,1853111.161,18,08,70.0,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
4,9/18/2018,Open,NaN,18-02695671,Pothole in Street,NaN,NaN,NaN,845 W 69TH ST,60621,1171762.039,1859096.550,06,07,68.0,41.768702,-87.646285,"(41.768701626769, -87.646285147026)"
19,11/14/2018,Open,NaN,18-03152673,Pothole in Street,NaN,NaN,NaN,1832 N HARLEM AVE,00000,1127805.471,1911375.665,00,00,0.0,41.913529,-87.806069,"(41.913529272082, -87.806069130723)"
23,11/30/2018,Open,NaN,18-03261945,Pothole in Street,NaN,NaN,NaN,1317 E 61ST ST,60637,1185870.200,1864815.732,20,03,42.0,41.784080,-87.593991,"(41.784079808228, -87.593990786956)"
24,9/17/2018,Open,NaN,18-02686078,Pothole in Street,NaN,NaN,NaN,2000 W 82ND PL,60620,1164460.056,1849954.420,18,06,71.0,41.743994,-87.673103,"(41.743993810317, -87.673103052128)"
30,12/4/2018,Open,NaN,18-03286790,Pothole in Street,NaN,NaN,NaN,600 W 62ND ST,60621,1173340.514,1863793.161,16,07,68.0,41.781759,-87.640175,"(41.781759463237, -87.640175208616)"
49,7/20/2018,Open,NaN,18-02160010,Pothole in Street,NaN,NaN,NaN,2407 W 50TH ST,60632,1161139.186,1871457.324,14,09,63.0,41.802861,-87.684614,"(41.802860843956, -87.684614376597)"
66,11/11/2018,Open,NaN,18-03134226,Pothole in Street,NaN,NaN,NaN,200 N PINE AVE,60644,1139465.965,1900928.456,37,15,25.0,41.884327,-87.763476,"(41.884327043038, -87.763476156447)"
68,10/23/2018,Open,NaN,18-02989536,Pothole in Street,NaN,NaN,NaN,3338 W 61ST PL,60629,1155193.279,1863648.313,23,08,66.0,41.781753,-87.707196,"(41.781753366837, -87.707195912967)"
82,11/30/2018,Open,NaN,18-03260280,Pothole in Street,NaN,NaN,NaN,600 E 68TH ST,60637,1181410.315,1860059.255,20,03,42.0,41.771351,-87.610509,"(41.771351424207, -87.61050876392)"

In [135]:
len(dist_str)

393252

In [136]:
# Change Community Area to String
ca_str = w_str['Community_Area'] = w_str.Community_Area.dropna().astype(int).astype(str).str.zfill(2)
ca_str = pd.DataFrame(dist_str)
ca_str.head(10)

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
0,8/5/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652,1151403.825,1853111.161,18,08,70,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
4,9/18/2018,Open,NaN,18-02695671,Pothole in Street,NaN,NaN,NaN,845 W 69TH ST,60621,1171762.039,1859096.550,06,07,68,41.768702,-87.646285,"(41.768701626769, -87.646285147026)"
19,11/14/2018,Open,NaN,18-03152673,Pothole in Street,NaN,NaN,NaN,1832 N HARLEM AVE,00000,1127805.471,1911375.665,00,00,00,41.913529,-87.806069,"(41.913529272082, -87.806069130723)"
23,11/30/2018,Open,NaN,18-03261945,Pothole in Street,NaN,NaN,NaN,1317 E 61ST ST,60637,1185870.200,1864815.732,20,03,42,41.784080,-87.593991,"(41.784079808228, -87.593990786956)"
24,9/17/2018,Open,NaN,18-02686078,Pothole in Street,NaN,NaN,NaN,2000 W 82ND PL,60620,1164460.056,1849954.420,18,06,71,41.743994,-87.673103,"(41.743993810317, -87.673103052128)"
30,12/4/2018,Open,NaN,18-03286790,Pothole in Street,NaN,NaN,NaN,600 W 62ND ST,60621,1173340.514,1863793.161,16,07,68,41.781759,-87.640175,"(41.781759463237, -87.640175208616)"
49,7/20/2018,Open,NaN,18-02160010,Pothole in Street,NaN,NaN,NaN,2407 W 50TH ST,60632,1161139.186,1871457.324,14,09,63,41.802861,-87.684614,"(41.802860843956, -87.684614376597)"
66,11/11/2018,Open,NaN,18-03134226,Pothole in Street,NaN,NaN,NaN,200 N PINE AVE,60644,1139465.965,1900928.456,37,15,25,41.884327,-87.763476,"(41.884327043038, -87.763476156447)"
68,10/23/2018,Open,NaN,18-02989536,Pothole in Street,NaN,NaN,NaN,3338 W 61ST PL,60629,1155193.279,1863648.313,23,08,66,41.781753,-87.707196,"(41.781753366837, -87.707195912967)"
82,11/30/2018,Open,NaN,18-03260280,Pothole in Street,NaN,NaN,NaN,600 E 68TH ST,60637,1181410.315,1860059.255,20,03,42,41.771351,-87.610509,"(41.771351424207, -87.61050876392)"

In [152]:
# Reset index for final data frame

reset_df = ca_str.reset_index(drop=True)

reset_df.head()

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
0,8/5/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652,1151403.825,1853111.161,18,08,70,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
1,9/18/2018,Open,NaN,18-02695671,Pothole in Street,NaN,NaN,NaN,845 W 69TH ST,60621,1171762.039,1859096.550,06,07,68,41.768702,-87.646285,"(41.768701626769, -87.646285147026)"
2,11/14/2018,Open,NaN,18-03152673,Pothole in Street,NaN,NaN,NaN,1832 N HARLEM AVE,00000,1127805.471,1911375.665,00,00,00,41.913529,-87.806069,"(41.913529272082, -87.806069130723)"
3,11/30/2018,Open,NaN,18-03261945,Pothole in Street,NaN,NaN,NaN,1317 E 61ST ST,60637,1185870.200,1864815.732,20,03,42,41.784080,-87.593991,"(41.784079808228, -87.593990786956)"
4,9/17/2018,Open,NaN,18-02686078,Pothole in Street,NaN,NaN,NaN,2000 W 82ND PL,60620,1164460.056,1849954.420,18,06,71,41.743994,-87.673103,"(41.743993810317, -87.673103052128)"

In [157]:
#Sort by creation date

reset_df["CREATION_DATE"] = pd.to_datetime(reset_df["CREATION_DATE"])

sort_df = reset_df.sort_values(by="CREATION_DATE")

sort_df.head()

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
255769,2009-01-12,Completed,10/6/2011,09-00061329,Pot Hole in Street,Dispatch Crew,Pothole Patched,33.0,2519 S HALSTED ST,60608,1171396.987,1887375.747,11,09,60,41.846460,-87.646321,"(41.846459969324, -87.646320667697)"
230084,2009-06-17,Completed,6/7/2011,09-01026546,Pot Hole in Street,Dispatch Crew,Pothole Patched,NaN,3845 W ADDISON ST,60618,1150061.260,1923654.940,30,17,21,41.946303,-87.724348,"(41.946303283819, -87.724347984027)"
327214,2010-02-26,Completed,10/4/2011,10-00254019,Pot Hole in Street,NaN,NaN,NaN,1440 S ROCKWELL ST,60608,1159269.236,1892878.650,28,10,29,41.861757,-87.690973,"(41.861756644625, -87.690972506101)"
357636,2010-04-13,Completed,12/6/2011,10-00485793,Pot Hole in Street,Dispatch Crew,Pothole Patched,2.0,1321 W AUGUSTA BLVD,60642,1167296.215,1906804.955,27,13,24,41.899710,-87.661008,"(41.899710244727, -87.661007917743)"
356058,2010-04-29,Completed,11/17/2011,10-00573922,Pot Hole in Street,Dispatch Crew,Pothole Patched,0.0,1599 N ELK GROVE AVE,60622,1163439.324,1910672.489,01,14,24,41.910454,-87.674867,"(41.910454303557, -87.674866779987)"

In [159]:
# Create final data frame and reset index

final_df = sort_df.reset_index(drop=True)

final_df.head()

,CREATION_DATE,STATUS,COMPLETION_DATE,SERVICE_REQUEST_NUMBER,TYPE_OF_SERVICE_REQUEST,CURRENT_ACTIVITY,MOST_RECENT_ACTION,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,STREET_ADDRESS,ZIP,X_COORDINATE,Y_COORDINATE,Ward,Police_District,Community_Area,LATITUDE,LONGITUDE,LOCATION
0,2009-01-12,Completed,10/6/2011,09-00061329,Pot Hole in Street,Dispatch Crew,Pothole Patched,33.0,2519 S HALSTED ST,60608,1171396.987,1887375.747,11,09,60,41.846460,-87.646321,"(41.846459969324, -87.646320667697)"
1,2009-06-17,Completed,6/7/2011,09-01026546,Pot Hole in Street,Dispatch Crew,Pothole Patched,NaN,3845 W ADDISON ST,60618,1150061.260,1923654.940,30,17,21,41.946303,-87.724348,"(41.946303283819, -87.724347984027)"
2,2010-02-26,Completed,10/4/2011,10-00254019,Pot Hole in Street,NaN,NaN,NaN,1440 S ROCKWELL ST,60608,1159269.236,1892878.650,28,10,29,41.861757,-87.690973,"(41.861756644625, -87.690972506101)"
3,2010-04-13,Completed,12/6/2011,10-00485793,Pot Hole in Street,Dispatch Crew,Pothole Patched,2.0,1321 W AUGUSTA BLVD,60642,1167296.215,1906804.955,27,13,24,41.899710,-87.661008,"(41.899710244727, -87.661007917743)"
4,2010-04-29,Completed,11/17/2011,10-00573922,Pot Hole in Street,Dispatch Crew,Pothole Patched,0.0,1599 N ELK GROVE AVE,60622,1163439.324,1910672.489,01,14,24,41.910454,-87.674867,"(41.910454303557, -87.674866779987)"

In [160]:
#Export to csv to review

final_df.to_csv("potholes_clean.csv")